<div class="container" id="blog-post-container">
  <div class="row">
    <div class="card mb-2 pb-1" id="content-title">
      <p>{{title}}</p>
      <div>
        <span><time [dateTime]="publishedAt" class="pe-1">投稿日 {{publishedAt | date:"yyyy月MM日dd日"}}</time></span>
        <span><time *ngIf="updatedAt" [dateTime]="updatedAt">更新日 {{updatedAt | date:"yyyy月MM日dd日"}}</time></span>
        <span *ngFor="let tag of tags">
          <a [routerLink]="['/tags', tag.fields.slug]" class="tag-link pe-1"><i class="bi bi-tag"></i>{{tag.fields.name}}</a>
        </span>
      </div>
    </div>

    <div class="col-lg-9 oreder-lg-1 order-2 card col-12" id="content-card">
      <markdown id="toc-target" [data]="markdown" class="markdown-body" (ready)="onReady()" #contentBody></markdown>
      <div class="card-footer bg-transparent mt-5">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">ホーム</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/tags', breadCrumbListTagSlug]">{{breadCrumbListTagName}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
          </ol>
        </nav>
      </div> 
    </div>
    <div class="col-lg-3 order-lg-2 oreder-1 col-12 pb-2 ps-lg-2" #tocContainer id="toc-container" (window:resize)="onResize()">
      <div #toc id="toc" [class]="tocClass" [style.width.px]="tocWidth">
        <div class="card-header">目次</div>
      </div>
    </div>
  </div>
</div>